.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    h2 {
        text-align: center;
        font-weight: 600;
        margin-bottom: 16px;
    }
}

a {
    color: var(--link-color) !important;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.contact-form {
    width: 100%;
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    .content {
        padding: 0 16px 0 16px;
    }
}

@media (min-width: 360px) {
    .content {
        padding: 0 16px 0 16px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .content {
        padding: 0 32px 0 32px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .content {
        padding: 0 64px 0 64px;
    }
}