<div class="content">
    <div id="about-me-section" class="section border-spacing-side">
        <div class="about-me-container">
            <div class="mobile-only">
                <h2 class="page-heading" spyTarget="about-me">About me</h2>
            </div>
            <div class="profile-picture-container">
                <img src="./../../assets/img/lukas_volgger.jpg" alt="Lukas Volgger" class="profile-img">
            </div>
            <p class="mobile-only mobile-border-spacing">" I am a software developer from Austria, passionate gamer and
                PC hobbyist.<br> I always wanted to know how things work "under the hood". Now I'm happy to create these
                things myself and expand my skills every day! "</p>
            <div class="about-me mobile-border-spacing">
                <div class="about-me-description hide-mobile">
                    <h2 id="home" class="page-heading" spyTarget="about-me">About me</h2>
                    <p>" I am a software developer from Austria, passionate gamer and PC hobbyist.<br> I always wanted
                        to know how things work "under the hood". Now I'm happy to create these things myself and expand
                        my skills every day! "</p>
                </div>
                <div class="hyphen"></div>
                <div class="skills-container">
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/java.svg" alt="Java Logo">
                        <figcaption>Java</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/spring_boot.svg" alt="Spring Boot Logo">
                        <figcaption>Spring Boot</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/play_framework.svg"
                            alt="Play Framework Logo">
                        <figcaption>Play</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/javascript.svg" alt="JavaScript Logo">
                        <figcaption>JavaScript</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/typescript.svg" alt="TypeScript Logo">
                        <figcaption>TypeScript</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/angular.svg" alt="Angular Logo">
                        <figcaption>Angular</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/html5.svg" alt="HTML5 Logo">
                        <figcaption>HTML5</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/css3.svg" alt="CSS3 Logo">
                        <figcaption>CSS3</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/database.svg" alt="Database Logo">
                        <figcaption>SQL/MySQL</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/firebase.svg" alt="Firebase Logo">
                        <figcaption>Firebase</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/docker.svg" alt="Docker Logo">
                        <figcaption>Docker</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/git.svg" alt="Git Logo">
                        <figcaption>Git</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/api.svg" alt="API Logo">
                        <figcaption>REST-API</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/scrum.svg" alt="SCRUM Logo">
                        <figcaption>SCRUM</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/material_design.svg"
                            alt="Material Design Logo">
                        <figcaption>Material Design</figcaption>
                    </figure>
                    <figure>
                        <img class="skill-img" src="./../../assets/img/icons/bootstrap.svg" alt="Bootstrap Logo">
                        <figcaption>Bootstrap</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="closing-text">
        <img id="about-me" class="quotation-marks" src="./../../assets/img/quotation_marks.svg " alt="Quotation Marks ">
        <p>
            I am a {{ myAgeInYears }}-year-old German-speaking full-stack software developer with experience in
            developing web applications with Java, Spring Boot, Play, JavaScript/TypeScript & Angular.<br><br> In my
            spare time, I dedicated myself to
            an open source project in SQL out of self-interest and discovered my passion for programming. After trying a
            few programming languages, I realized that I really enjoyed web development with JavaScript.<br><br> So, in
            2021, I decided to become
            a software developer and take a project-based continuing education course. Here I worked on individual and
            group projects and was supported by experienced developers. Since then I was able to gain some experience
            and deepen my knowledge with
            various further education courses.<br> Since the beginning of 2023, I have been working for a German
            software company as a full-stack developer on the Java platform, working on exciting software projects every
            day.
        </p>
        <p class="profile-name">Lukas Volgger</p>
        <div class="quotation-end">
            <div class="blue-line"></div>
            <div class="blue-dot"></div>
            <div class="blue-dot"></div>
        </div>
    </div>
</div>