.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mobile-only {
    display: none;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    max-height: 100%;
}

.profile-img {
    object-fit: cover;
    width: 500px;
}

.about-me-container {
    display: flex;
    justify-content: center;
}

.about-me-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background-color: var(--section-col);

    p {
        text-align: center;
    }
}

.hyphen {
    width: 128px;
    height: 2px;
    background-color: var(--black-col);
    border-radius: 10px;
    margin-bottom: 32px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 8px;
    margin: 0 0 0;

    img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    figcaption {
        font-size: 12px;
        font-weight: bold;
    }
}

.closing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: var(--section-col);
    padding: 32px 256px 32px 256px;

    p {
        margin: 0;
        text-align: center;
    }
}

.quotation-marks {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-name {
    font-weight: 600;
}

.quotation-end {
    display: flex;
    align-items: center;
    gap: 4px;
}

.blue-line {
    width: 32px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--primary-col);
}

.blue-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-col);
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    .mobile-border-spacing {
        padding-right: 16px;
        padding-left: 16px;
    }

    .hide-mobile {
        display: none;
    }

    .mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
            text-align: center;
        }
    }

    .about-me-container {
        flex-direction: column;
    }

    .profile-img {
        width: 100%;
        margin-bottom: 16px;
    }

    .about-me {
        padding-top: 0;
        padding-bottom: 0;
        background-color: unset;
    }

    .closing-text {
        padding: 16px;
    }

    .quotation-marks {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 360px) {
    .mobile-border-spacing {
        padding-right: 16px;
        padding-left: 16px;
    }

    .hide-mobile {
        display: none;
    }

    .mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
            text-align: center;
        }
    }

    .about-me-container {
        flex-direction: column;
    }

    .profile-img {
        width: 100%;
        margin-bottom: 16px;
    }

    .about-me {
        padding-top: 0;
        padding-bottom: 0;
        background-color: unset;
    }

    .closing-text {
        padding: 16px;
    }

    .quotation-marks {
        width: 48px;
        height: 48px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .mobile-border-spacing {
        padding-right: 64px;
        padding-left: 64px;
    }

    .closing-text {
        padding: 16px 64px 16px 64px;
    }

    .profile-img {
        width: 80%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .profile-img {
        width: 60%;
    }

    .quotation-marks {
        width: 60px;
        height: 60px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .mobile-border-spacing {
        padding-right: 16px;
        padding-left: 16px;
    }

    .section {
        background-color: var(--section-col);
    }

    .hide-mobile {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .about-me-container {
        width: 100%;
        flex-direction: row;
        padding: 32px 0;
    }

    .profile-img {
        width: 400px;
        margin-bottom: 0;
    }

    .about-me {
        flex: 1;
        padding: 32px;
        background-color: var(--section-col);
    }

    .closing-text {
        padding: 32px 96px;
    }
}

@media (min-width: 1200px) {
    .closing-text {
        padding: 32px 256px;
    }
}

@media (min-width: 1600px) {
    .closing-text {
        padding: 32px 384px;
    }
}

@media (min-width: 2000px) {
    .closing-text {
        padding: 32px 640px;
    }
}