footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding-bottom: 64px;
}

.footer-social-media {
    display: flex;
    gap: 96px;

    img {
        object-fit: contain;
        width: 48px;
    }
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    footer {
        flex-direction: column-reverse;
        padding: 0 32px 16px 32px;
        gap: 16px;
    }

    .footer-social-media {
        gap: 64px;

        img {
            width: 24px;
        }
    }
}

@media (min-width: 360px) {
    footer {
        flex-direction: column-reverse;
        padding: 0 32px 16px 32px;
        gap: 16px;
    }

    .footer-social-media {
        gap: 64px;

        img {
            width: 24px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .footer-social-media {
        gap: 96px;

        img {
            width: 32px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    footer {
        margin-top: 48px;
    }

    .footer-social-media {
        img {
            width: 48px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    footer {
        flex-direction: row;
        padding: 0 96px 64px 96px;
        margin-top: 64px;
    }
}