<footer class="border-spacing">
    <div>
        <a class="nav-link" routerLink="/legal-notice">Legal Notice</a>
    </div>
    <div class="footer-social-media">
        <a href="https://www.linkedin.com/in/lukas-volgger-894541251/" target="_blank"><img
                src="./../../assets/img/icons/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.github.com/LukasVolgger" target="_blank"><img src="./../../assets/img/icons/github.png"
                alt="GitHub"></a>
    </div>
</footer>