<header>
    <nav class="navbar navbar-mobile fixed-top border-spacing">
        <div class="container-fluid">
            <a routerLink="" title="Home"><img class="nav-logo" src="../../assets/img/logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <hr class="divider">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" fragment="about-me-section" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar">About Me</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Projects</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="" fragment="project-1"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Slack-Clone</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-2"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Simple-CRM</a></li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-3"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Ring of Fire</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-4"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">My Portfolio</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-5"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Sharkie</a></li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-6"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Join</a></li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-7"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Pokédex</a></li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-8"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Tic Tac Toe</a>
                                </li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-9"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Delivery
                                        Service</a></li>
                                <li><a class="dropdown-item" routerLink="" fragment="project-10"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Photo Gallery</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="" fragment="contact"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Contact</a>
                        </li>
                        <li>
                            <hr class="divider">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/legal-notice"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Legal Notice</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-desktop fixed-top border-spacing">
        <a routerLink="" fragment="home-banner" title="Home"><img class="nav-logo" src="../../assets/img/logo.png"
                alt="Logo"></a>
        <div class="nav-links-container">
            <a id="nav-link-home" class="nav-link nav-link-active" routerLink="">Home</a>
            <a id="nav-link-about-me" class="nav-link" routerLink="" fragment="about-me-section">About Me</a>
            <a id="nav-link-projects" class="nav-link" routerLink="" fragment="projects">Projects</a>
            <a id="nav-link-contact" class="nav-link" routerLink="" fragment="contact">Contact</a>
        </div>
    </nav>
</header>