<div [ngClass]="projectData.isReversed ? 'project row-reverse border-spacing' : 'project border-spacing'"
    [id]="projectData.id">
    <img [src]="projectData.coverImageUrl" [alt]="projectData.coverImageAlt">
    <div class="project-description">
        <h2>{{ projectData.title }}</h2>
        <div class="tags-container">
            @for (tag of projectData.tags; track $index) {
            <span>{{ tag }}</span>
            }
        </div>
        <p [innerHTML]="projectData.description"></p>
        <div class="project-btns">
            <a [href]="projectData.githubLink" target="_blank">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
            </a>
            <a [href]="projectData.tryOutLink" target="_blank">
                <button type="button" class="btn btn-primary">Try out</button>
            </a>
        </div>
    </div>
</div>