<nav class="navbar header-nav fixed-top border-spacing">
    <a routerLink="" fragment="home" title="Home" class="logo-link"><app-logo></app-logo></a>
    <div class="nav-links-container">
        <a id="nav-link-home" class="nav-link nav-link-active" routerLink="" fragment="home">Home</a>
        <a id="nav-link-about-me" class="nav-link" routerLink="" fragment="about-me">About Me</a>
        <a id="nav-link-projects" class="nav-link" routerLink="" fragment="projects">Projects</a>
        <a id="nav-link-contact" class="nav-link" routerLink="" fragment="contact">Contact</a>
    </div>
</nav>