<div class="content" id="projects">
    <h2 class="page-heading">Projects</h2>

    <mat-tab-group [selectedIndex]="activeTabIndex">
        <mat-tab label="Business Apps">
            @for (project of businessApps; track $index) {
            <app-project-card [projectData]="project"></app-project-card>
            }
        </mat-tab>
        <mat-tab label="Multimedia Apps">
            @for (project of multimediaApps; track $index) {
            <app-project-card [projectData]="project"></app-project-card>
            }
        </mat-tab>
        <mat-tab label="Games">
            @for (project of games; track $index) {
            <app-project-card [projectData]="project"></app-project-card>
            }
        </mat-tab>
    </mat-tab-group>
</div>