<div class="content">
    <h2 class="page-heading" spyTarget="projects">Projects</h2>

    <mat-tab-group [selectedIndex]="activeTabIndex">
        <mat-tab label="Business Apps">
            @for (project of businessApps; track project.title; let index = $index) {
            <app-project-card [index]="index" [projectData]="project"></app-project-card>
            }
        </mat-tab>
        <mat-tab label="Multimedia Apps">
            @for (project of multimediaApps; track project.title; let index = $index) {
            <app-project-card [index]="index" [projectData]="project"></app-project-card>
            }
        </mat-tab>
        <mat-tab label="Games">
            @for (project of games; track project.title; let index = $index) {
            <app-project-card [index]="index" [projectData]="project"></app-project-card>
            }
        </mat-tab>
    </mat-tab-group>
</div>