.carousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators {
    button {
        background-color: var(--primary-color);
    }
}

.carousel-control-prev-icon-mat,
.carousel-control-next-icon-mat {
    color: var(--primary-color);
    width: unset;
    height: unset;
    font-size: 3rem;
}

.carousel-img {
    width: 100%;
    aspect-ratio: 16/9;
}