.project {
    display: flex;
    flex-direction: row;
    padding: 96px;
    gap: 128px;
    width: 100%;
    background-color: var(--section-col);
    margin-bottom: 32px;

    h2 {
        text-align: center;
        margin-bottom: 32px;
        font-weight: 600;
    }

    p {
        text-align: center;
        color: var(--description-col);
        width: 80%;
    }

    img {
        object-fit: contain;
        width: 448px;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        color: #639DFC;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;

    span {
        border: 1px solid var(--primary-col);
        border-radius: 0.375rem;
        padding: 4px;
        color: var(--primary-col);
    }
}

.project-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 16px;
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    h2 {
        margin-bottom: 32px;
    }

    .project {
        flex-direction: column;
        gap: 32px;
        padding: 16px;

        p {
            width: unset;
        }

        img {
            width: 100%;
        }
    }

    .tags-container {
        justify-content: center;
    }
}

@media (min-width: 360px) {
    h2 {
        margin-bottom: 32px;
    }

    .project {
        flex-direction: column;
        gap: 32px;
        padding: 16px;

        p {
            width: unset;
        }

        img {
            width: 100%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .project {
        padding: 32px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .project {
        padding: 64px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .project {
        flex-direction: row;
        gap: 128px;
        padding: 96px;

        p {
            width: unset;
        }

        img {
            width: 448px;
        }
    }

    .row-reverse {
        flex-direction: row-reverse !important;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .project {
        img {
            width: 512px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .project {
        img {
            width: 576px;
        }
    }
}

@media (min-width: 1600px) {
    .project {
        padding: 96px 256px 96px 256px;
    }
}

@media (min-width: 2000px) {
    .project {
        img {
            width: 640px;
        }

        padding: 96px 384px 96px 384px;
    }
}