<div class="content" id="my-work">
    <h2 class="page-heading">My Work</h2>
    <div class="project border-spacing" id="project-1">
        <img src="./../../assets/img/project covers/slack-clone_cover.png" alt="Slack-Clone Cover">
        <div class="project-description">
            <h2 id="my-work-begin">Slack-Clone</h2>
            <div class="tags-container"><span>HTML</span>
                <span>SCSS</span><span>TypeScript</span><span>Angular</span><span>Material
                    Design</span><span>Firebase</span><span>Authentication</span>
            </div>
            <p>Clone of the well-known chat app Slack.<br>This web app was developed as a learning project in a group
                effort to practice the chat features and to practice the Git workflow with multiple collaborators and
                branches.</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/slack-clone" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://slack-clone.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-2">
        <img src="./../../assets/img/project covers/simple-crm_cover.png" alt="Simple-CRM Cover">
        <div class="project-description">
            <h2>Simple-CRM</h2>
            <div class="tags-container"><span>HTML</span>
                <span>SCSS</span><span>TypeScript</span><span>Angular</span><span>Material
                    Design</span><span>Firebase</span><span>Authentication</span>
            </div>
            <p>Simple customer management.<br>A simple CRM (Customer Relationship Management) tool with features like
                user registration, authentication and data storage in the backend (Firebase).</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/simple-crm" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://simple-crm.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-3">
        <img src="./../../assets/img/project covers/ring_of_fire_cover.png" alt="Ring of Fire Cover">
        <div class="project-description">
            <h2>Ring of Fire</h2>
            <div class="tags-container"><span>HTML</span>
                <span>SCSS</span><span>TypeScript</span><span>Angular</span><span>Material
                    Design</span><span>Firebase</span>
            </div>
            <p>Go out and meet friends? You don't have to!<br>Ring of Fire also known as Circle of Death is a drinking
                game with cards. By connecting to Google Firebase, the game is shared with others and up to 4 players
                can participate per game. </p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/ring-of-fire" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://ring-of-fire.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-4">
        <img src="./../../assets/img/project covers/portfolio_cover.png" alt="Portfolio Cover">
        <div class="project-description">
            <h2>My Portfolio</h2>
            <div class="tags-container"><span>HTML</span>
                <span>SCSS</span><span>TypeScript</span><span>Angular</span><span>Bootstrap</span>
            </div>
            <p>My own portfolio website. This is an Angular project and written in HTML, SCSS and TypeScript. </p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/lukas-volgger-at" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://lukas-volgger.at/" target="_blank"><button type="button" class="btn btn-primary">Try
                        out</button></a>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-5">
        <img src="./../../assets/img/project covers/sharkie_cover.png" alt="Sharkie Cover">
        <div class="project-description">
            <h2>Sharkie</h2>
            <div class="tags-container"><span>HTML</span> <span>CSS</span><span>JavaScript</span></div>
            <p>Sharkie is a small browser game written with HTML, CSS and JavaScript. The focus is on object-oriented
                programming with JavaScript.</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/sharkie" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://sharkie.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-6">
        <img src="./../../assets/img/project covers/join_cover.png" alt="Join Cover">
        <div class="project-description">
            <h2>Join</h2>
            <div class="tags-container"><span>HTML</span>
                <span>CSS</span><span>JavaScript</span><span>Backend</span><span>Bootstrap</span>
            </div>
            <p>Join is a Kanbanboard web app written with HTML, CSS and JavaScript as a team project. In this project,
                the client - server functionality was simulated with a mini-backend (More information can be found in
                the repository <a
                    href="https://github.com/LukasVolgger/smallest_backend_ever">smallest_backend_ever</a>).</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/join" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://join.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-7">
        <img src="./../../assets/img/project covers/pokedex_cover.png" alt="Pokédex Cover">
        <div class="project-description">
            <h2>Pokédex</h2>
            <div class="tags-container"><span>HTML</span>
                <span>CSS</span><span>JavaScript</span><span>API</span><span>Bootstrap</span>
            </div>
            <p>I wan't them all!<br> With Pokédex I can get a perfect overview of all Pokémons, search for them with
                autocomplete and save them as favorites! The project was created with HTML, CSS and JavaScript and all
                data is fetched from a REST API.</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/pokedex" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://pokedex.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-8">
        <img src="./../../assets/img/project covers/tic_tac_toe_cover.png" alt="Tic Tac Toe Cover">
        <div class="project-description">
            <h2>Tic Tac Toe</h2>
            <div class="tags-container"><span>HTML</span> <span>CSS</span><span>JavaScript</span></div>
            <p>Beautiful crystals combined with a classic game.<br> This Tic Tac Toe game was programmed only with HTML,
                CSS and JavaScript. The unique design clearly stands out from the other games of this type.</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/tic-tac-toe" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://tic-tac-toe.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-9">
        <img src="./../../assets/img/project covers/delivery_service_cover.png" alt="Delivery Service Cover">
        <div class="project-description">
            <h2 id="my-work-end">Delivery Service</h2>
            <div class="tags-container"><span>HTML</span> <span>CSS</span><span>JavaScript</span></div>
            <p>Copy? I can!<br> This delivery service website was created with HTML, CSS and JavaScript inspired by
                Lieferando. The main focus of this project is the simulation of the simple online shopping process as
                well as the design. For this reason
                not all functionalities were implemented.
            </p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/delivery-service" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://delivery-service.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-10">
        <img src="./../../assets/img/project covers/photo_gallery_cover.png" alt="Photo Gallery Cover">
        <div class="project-description">
            <h2>Photo Gallery</h2>
            <div class="tags-container"><span>HTML</span> <span>CSS</span><span>JavaScript</span></div>
            <p>Simple and beautiful.<br> This photo gallery contains a collection of images to my taste. It was written
                with HTML, CSS and JavaScript. A search function and tags make browsing easier. Keyboard and touch
                controls make it easy to use.</p>
            <div class="project-btns">
                <a href="https://github.com/LukasVolgger/photo-gallery" target="_blank"><button type="button"
                        class="btn btn-outline-primary">GitHub</button></a>
                <a href="https://photo-gallery.lukas-volgger.at/" target="_blank"><button type="button"
                        class="btn btn-primary">Try out</button></a>
            </div>
        </div>
    </div>
</div>