<div class="skills-container">
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/java.svg" alt="Java Logo">
        <figcaption>Java</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/spring_boot.svg" alt="Spring Boot Logo">
        <figcaption>Spring Boot</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/play_framework.svg" alt="Play Framework Logo">
        <figcaption>Play</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/javascript.svg" alt="JavaScript Logo">
        <figcaption>JavaScript</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/typescript.svg" alt="TypeScript Logo">
        <figcaption>TypeScript</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/angular.svg" alt="Angular Logo">
        <figcaption>Angular</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/html5.svg" alt="HTML5 Logo">
        <figcaption>HTML5</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/css3.svg" alt="CSS3 Logo">
        <figcaption>CSS3</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/database.svg" alt="Database Logo">
        <figcaption>SQL/MySQL</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/firebase.svg" alt="Firebase Logo">
        <figcaption>Firebase</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/docker.svg" alt="Docker Logo">
        <figcaption>Docker</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/git.svg" alt="Git Logo">
        <figcaption>Git</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/api.svg" alt="API Logo">
        <figcaption>REST-API</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/scrum.svg" alt="SCRUM Logo">
        <figcaption>SCRUM</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/material_design.svg" alt="Material Design Logo">
        <figcaption>Material Design</figcaption>
    </figure>
    <figure>
        <img class="skill-img" src="./../../assets/img/icons/bootstrap.svg" alt="Bootstrap Logo">
        <figcaption>Bootstrap</figcaption>
    </figure>
</div>