// ######################################################################### Variables
:root {
    // Colors
    --link-color: var(--accent-color);
    --black-color: #282828;
    --background-color: #2c2c2c;
    --section-color: #303030;
    --primary-color: #c2185b;
    --accent-color: #607d8b;
    --success-color: var(--primary-color);
    --error-color: #f44336;
    --form-field-bg-color: #232323;
    --text-color: #ffffff;
    --description-color: #c7c7c7;
}

// ######################################################################### Fonts
@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}


// ######################################################################### Material Icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Material-Icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// ######################################################################### Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #212529;
}

::-webkit-scrollbar-thumb:hover {
    background: #474a4c;
}

// ######################################################################### General
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto-Regular;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-size: 44px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
}

.border-spacing {
    padding: 128px 96px 0 96px;
}

.border-spacing-side {
    padding: 0 96px 0 96px;
}

.page-heading {
    position: relative;
    width: max-content;
    font-weight: 600;
    padding-bottom: 16px;
    margin-bottom: 32px;
}

.page-heading:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 4px;
    border-radius: 10px;
}

.btn {
    width: 112px !important;
    height: 56px !important;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    background-color: var(--background-color);
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.nav-link {
    color: var(--link-color);
    border-bottom: solid 2px transparent;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
        font-weight: 500;
        border-bottom: solid 2px var(--primary-color);
        transition: all 125ms ease-in-out;
    }
}

.nav-link:focus {
    color: var(--link-color);
}

.nav-link-active {
    color: var(--primary-color) !important;
    font-weight: 500;
    border-bottom: solid 2px var(--primary-color);
    transition: all 125ms ease-in-out;
}

.disable-user-select {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML
    -moz-user-select: none; // Old versions of Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    .border-spacing {
        padding: 128px 16px 0 16px;
    }

    .border-spacing-side {
        padding: 0 16px 0 16px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 28px;
    }
}

@media (min-width: 360px) {
    .border-spacing {
        padding: 128px 16px 0 16px;
    }

    .border-spacing-side {
        padding: 0 16px 0 16px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 28px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .border-spacing {
        padding: 128px 32px 0 32px;
    }

    .border-spacing-side {
        padding: 0 32px 0 32px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .border-spacing {
        padding: 128px 64px 0 64px;
    }

    .border-spacing-side {
        padding: 0 64px 0 64px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    h2 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    .border-spacing {
        padding: 128px 96px 0 96px;
    }

    .border-spacing-side {
        padding: 0 96px 0 96px;
    }
}

@media (min-width: 1600px) {
    .border-spacing {
        padding: 128px 256px 0 256px;
    }

    .border-spacing-side {
        padding: 0 256px 0 256px;
    }
}

@media (min-width: 2000px) {
    .border-spacing {
        padding: 128px 384px 0 384px;
    }

    .border-spacing-side {
        padding: 0 384px 0 384px;
    }
}